/*
Index
 -- Box Model Hack
 -- Clear fix hack
 - Base styles
 - Layout
 -- text
 - Additional styles
 -- lists
 -- nav list
 -- columns
 */
/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
clear: both;
}


.cf:before,
.cf:after {
content: "";
display: table;
}
.cf:after {
clear: both;
}
.cf {
clear: both;
*zoom: 1;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 62.5%;
}

body {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/
h1 {
  width: fit-content;
  margin: 100px auto;
  font-size: 4.5rem;
}

.info > * {
  margin: 100px auto;
  border-radius: 5px;
  height: 300px;
  border: 5px solid rgb(100, 50, 30);
  background-color: rgb(120, 100, 120);
  text-align: center;
  font-size: 3.3rem;
  line-height: 300px;
}

.info > *:hover {
  background-color: rgb(140, 120, 170);
}

.content {
  margin: 0px auto;
}

.info {
  float: left;
  width: 300px;
  margin: 0 100px;
}

.board {
  float: left;
  height: 900px;
  width: 900px;
  background-color: beige;
  border:2px solid black;
  margin: 0px 100px;
}

.col-3-3 {
  float: left;
  width: 33.3333%;
  height: 33.3333%;
}

.button {
  border: 15px inset rgb(120, 00, 120);
  background-size: cover;
}

.button:hover {
  background-color: bisque;
}

.cross {
  background-image: url("../img/cross.png");
}

.circle {
  background-image: url("../img/circle.png");
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
